*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;

}
.header{
    background-color: #008800;
    width: 100%;
    padding-bottom: 40px;
    
    
}
.nav-bar{
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    padding-bottom: 28px;
      
}
.nav-bar a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 30px; 
    transition: 0.15s; 
}
.nav-bar a:hover{
    background-color: white;
    color: black;
    

}
.header img{
    border-radius: 50%;
    float: left;
    margin-left: 30px;

}
/* .btn-1{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    float: right; 
}
.btn-1 a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 30px; 
    margin-bottom: 50px;
} */

.btn-1 a{
    color: black;
    border-radius: 8px;
    margin-left: 10px;
    padding: 0;
    
}
.btn-1 a:hover{
    opacity: 0.4;

}

.sec-1 {
    background-image: url(pexels-yankrukov-8199562.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 75vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.index-page h2{
    color: rgb(0, 4, 255);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    opacity: 1;
    text-transform: lowercase;



}
.index-page p{
    font-size:25px;
    font-weight: 700;
    text-align: center;
    opacity: 1;
    text-transform: lowercase;
    color: white;
    width: 445px;
    
}
.btn-3{
padding-top: 300px;
align-items: center;

}
.btn-3 a{
    color: blue;
    border: none;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.home img {
    width: 50%;

}


.n h3 {
    background-image: url(premium_photo-1682284353484-4e16001c58eb.avif);
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 30%;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    padding-left: 400px;
    padding-right: 400px;
    color: blue;

}
.container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between cards */
    
}

.vision-card {
    width: 18rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px; /* Adjust spacing between cards */
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: white;
    margin-top: 40px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.card {
    width: 300px; 
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 

}

.card-body {
    padding: 20px;
    color: white;
    font-size: larger;
    padding-top: 60px;  

}

.card-title {
    font-size: 20px;
    color:black;
}

.card-text {
    color:;
}

ul.card-text {
    padding-left: 20px; 
}

.card-text li {
    margin-bottom: 8px; 
}

.card-text li:last-child {
    margin-bottom: 0; 
}
.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: white;
    margin-top: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


   

